@using NoorTrust.DonationFund.WebUi.Models


@model ReportViewModel

<ul class="errors"></ul>
@Html.HiddenFor(model => model.ReportId)

<ul class="errors" style="width:500px"></ul>


@*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
@*<h4>Donor</h4>*@


<div class="container" style="margin-left:20px;vertical-align:top; width:990px;border:0px solid red">
    <table style="padding:10px; margin:10px ;width:980px;border:0px solid green">
        <tr>
            <td style="vertical-align:top; ">


                <table style="border-radius:70px; vertical-align:top">
                    <tr style="border:1px #a0a0a0 solid; background-color:#f5f5f5;margin:20px ">
                        <td style="text-align: left; vertical-align: top">
                            @Html.Label("ReportName")
                            @Html.EditorFor(model => model.ReportName)
                            @Html.ValidationMessageFor(model => model.ReportName, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: top">
                            @Html.Label("Description")

                            @Html.TextAreaFor(model => model.Description, new { @class = "mytextArea" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </td>


                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: top">
                            @Html.Label("Report List Type")

                            @Html.EditorFor(model => model.ReportListType)
                            @Html.ValidationMessageFor(model => model.ReportListType, "", new { @class = "text-danger" })
                        </td>


                    </tr>
                    <tr>

                        <td style="text-align: left; vertical-align: top">
                            @Html.LabelFor(model => model.IsActive)
                            @Html.CheckBoxFor(model => model.IsActive)
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: top"></td>
                    </tr>



                    <tr>

                        <td style="text-align: left; vertical-align: top">
                            @Html.Label("","Last Updated", new { disabled = "disabled" })
                            @Html.Kendo().TextBoxFor(model => model.LastUpdatedDate).Enable(false).Format("{0:dd/MM/yyyy hh:mm:ss}")
                            @Html.ValidationMessageFor(model => model.LastUpdatedDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left; vertical-align: top">
                            @Html.Label("","Last Updated By", new { disabled = "disabled" })
                            @Html.Kendo().TextBoxFor(model => model.LastUpdatedBy).Enable(false)
                            @Html.ValidationMessageFor(model => model.LastUpdatedBy, "", new { @class = "text-danger" })
                        </td>

                    </tr>

                </table>

            </td>
            <td style="vertical-align:top;">



                @*<div id="UploadLabelDiv"> <h1>files</h1></div>*@

                <div id="UploadDiv" class="demo-section k-content">


                </div>

            </td>
        </tr>
    </table>



</div>
